<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.tensilica.xide.cdt.launch.ISSLaunch">
<booleanAttribute key="com.tensilica.xide.cdt.autoLaunch" value="true"/>
<stringAttribute key="com.tensilica.xide.dsf.core.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList context=&quot;Context string&quot;/&gt;&#13;&#10;"/>
<stringAttribute key="cyclemodel" value="--pipe"/>
<stringAttribute key="org.eclipse.cdt.dsf.ui.CastInfoPersistable" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#13;&#10;&lt;PERSISTABLE IMemento.internal.id=&quot;org.eclipse.cdt.dsf.ui.CastInfoPersistable&quot; PERSISTABLE=&quot;org.eclipse.cdt.dsf.ui.CastInfoPersistableFactory&quot;/&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;registerGroups&gt;&#13;&#10;&lt;debugTarget debugTargetName=&quot;ISS&quot;/&gt;&#13;&#10;&lt;/registerGroups&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="${xt_exe}"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="${xt_project}"/>
<stringAttribute key="org.eclipse.cdt.launch.VARIABLE_FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;variableFormatList/&gt;&#13;&#10;"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList context=&quot;Context string&quot;/&gt;&#13;&#10;"/>
<stringAttribute key="udfMap" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;udfMap/&gt;&#13;&#10;"/>
</launchConfiguration>
